@media only screen and (max-width: 821px){



    .part1 > a{
        margin: 12px;
    }

    .part1{
        display: flex;
        margin: 10px;
        width: 100%;
    }

    .part2{
        display: flex;
        width: 100%;
        margin: 12px;
    }
    
    .part2{
        display: flex;
        flex-flow: row wrap;
       justify-content: center;
    }

    #sob-foot{
        padding: 10px;
    }

    #total{
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    main{
        padding: 20px;
        flex: 80%;
    }

    #centro{
        flex: 95%;
    }

    footer{
        display: flex;
        flex: 5%;
    }


    #sob-foot{
        padding-top:;
        flex: 5%;
    }
}