@media only screen and (max-width: 821px){



    .part1{
        display: flex;
        ;
    }

    .part1 >{
        margin: 10px;
    }
    
    .part2{
        display: flex;
        flex-flow: row wrap;
       justify-content: center;
    }

    #sub-foot{
        padding: 10px;
    }

    main{
        padding: 20px;
    }

    footer{
        min-height: 230px;
        display: flex;

    }

    #sub-footer{
        height: 229px;
    }
}