@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #202124;
}

header{
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    align-items: center;
    padding-top: 14px;
    padding-right: 13px;
}

a{
    margin: 8px;
    text-decoration: none;
    color: white;
}

a.text {
    font-size: 0.8em;
}

a > img{
    border-radius: 50%;
}

#centro{
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    width: 600px;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}


.titulo{
    color: white;
    font-size: 3em;
    text-align: center;
}

#pesquisa{
   border: 1px solid gray;
   border-radius: 30px;
   padding: 5px;
   width: 580px;
   text-align: center;
}



#pesquisa > input{
    width: 80%;
    padding: 8px;
    font-size: 1em;
    background-color: #202124;
    outline: none;
    color: white;
}

.todo{
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

.todo > a{
    background-color: #303134;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 0.8em;
}

p{
    border-bottom: 1px solid grey;
    margin-top: 30px;
    color: white;
    font-size: 0.8em;
}

#unic{
    text-decoration: underline;
    color: #8ab4f8;
    font-size: 1em;
}

footer{
    height: 400px;
    display: flex;
    align-items: flex-end;
}

#sub-footer{
    width: 100%;
    margin-bottom: 0;
    background-color: #171717;
}


#sub-footer > p{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 15px 30px;
    height: 40px;
    width: 100%;
    color: grey;
    font-size: 1em;
}

#foot{
    padding: 10px;
    text-align: center;
}

.part1{
    display: inline; 
    margin-left: 0;
}

.part1 > a{
    color: grey;
    font-size: 0.9em;
    margin: 14px;
}

.part2{
    display: inline;
}

.part2 > a{
    color: grey;
    font-size: 0.9em;
    margin: 14px;
}


